[Unit]
Description=Petrus agent daemon
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=3
Environment=MIX_ENV=prod
EnvironmentFile=/etc/petrus_agent/secrets

WorkingDirectory=/var/apps/petrus_agent

ExecStart=/var/apps/petrus_agent/_build/prod/rel/petrus_agent/bin/petrus_agent start
ExecStop=/var/apps/petrus_agent/_build/prod/rel/petrus_agent/bin/petrus_agent stop

[Install]
WantedBy=multi-user.target
